/vendor
/composer.lock
/root/App/Frontend/coreJS/src/node_modules/*
/Binary
/root/artwhirl/*
/root/jyogakuen/*
/root/App/View/jyogakuen/*
/root/App/Controller/*
/root/File/*
/root/App/Frontend/corejs/compiled/*
/root/App/Middleware/*

.vscode
.vscode/*

!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.cache
.history
sessions
logs

node_modules

package-lock.json

var_lib_mysql
var_lib_mysql/mysql/*
