/vendor
/composer.lock
/Frontend/coreJS/node_modules
/Binary
/html/artwhirl/*
/html/jyogakuen/*
/html/App/View/jyogakuen/*
/html/App/Controller/*
/html/File/*
/html/App/Frontend/corejs/compiled/*
/html/App/Middleware/*

.vscode
.vscode/*

!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.cache
.history
sessions
logs

node_modules

package-lock.json

var_lib_mysql
var_lib_mysql/mysql/*
