version: "3.7"

services:
    adminer:
      image: adminer
      restart: always
      ports:
        - 8092:8080
    mariadb:
        image: mariadb:latest
        restart: unless-stopped
        environment:
            - MYSQL_ROOT_PASSWORD=1234
        ports:
            - "3317:3306"
        volumes:
            - ./var_lib_mysql/:/var/lib/mysql
    php:
        build: .
        restart: unless-stopped
        depends_on:
            - mariadb
        volumes:
            - ./:/var/www/html
    nginx:
        image: nginx:latest
        restart: unless-stopped
        depends_on:
            - php
        ports:
            - "8090:80"
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf
            - ./root:/var/www/html/root