<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="vendor/autoload.php" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./Source/</directory>
            <directory>./Classes/</directory>
            <directory>./Application/</directory>
            <directory>./Example/</directory>
            <directory>./Framework/</directory>
            <directory>./Frontend/</directory>
            <directory>./Logo/</directory>
        </whitelist>
    </filter>
</phpunit>