footer {
    background: rgba(229, 229, 229, .4);
    padding-top: 20px;
    padding-bottom: 27px;
    font-family: titillium web;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  }
  @media only screen and (min-width: 1000px) {
    .home_banner {
        background-position: calc(50% - 60px) 50%;
    }
}
@media only screen and (min-width: 768px) {
    .home_banner {
        height: 545px;
        background-position: calc(50% + 450px) 50%;
    }
}
.home_banner {
    position: relative;
}
  .home_banner__background {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #256d4e;
}
  .features .content {
      padding: 30px 0;
      -webkit-box-align: start;
      -webkit-align-items: start;
      -ms-flex-align: start;
      align-items: start;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
  }
  .feature .title {
      font-size: 25px;
      margin-bottom: 10px;
  }
  .feature .description {
      color: rgba(39, 54, 70, .7);
      margin-bottom: 20px;
  }
  .features nav {
    height: 60px;
    border-top: 1px solid rgb(144 144 144 / 50%);
    border-bottom: 1px solid rgb(173 173 173 / 50%);
    display: block;
    background-color: #f9f9f9;
  }
  @media (min-width: 1280px) {
      .container--short {
          width: 917px;
          padding-left: 0;
          padding-right: 0;
      }
  }
  .features {
    margin-top: 50px;
      margin-bottom: 100px;
      font-family: titillium web;
      font-weight: 400;
      font-style: normal;
  }
  .features nav .list li span {
      display: block;
      padding: 20px 0;
  }
  .features nav .list li {
      position: relative;
      margin-right: 40px;
      cursor: pointer;
  }@media only screen and (min-width: 768px) {
    .home_banner__title {
        margin: 100px 0 0 0;
    }
}
@media only screen and (min-width: 1640px) {
    .home_banner__content {
        padding: 0 0 0 800px;
    }
}
@media only screen and (min-width: 1140px) {
    .home_banner__content {
        padding: 0 0 0 550px;
    }
}
@media only screen and (min-width: 1000px) {
    .home_banner__content {
        padding: 0 0 0 400px;
    }
}
.center {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
}
@media only screen and (min-width: 1640px) {
    .center {
        width: 1600px;
    }
}
@media only screen and (min-width: 1140px) {
    .center {
        width: 1100px;
    }
}
@media only screen and (min-width: 1000px) {
    .center {
        width: 960px;
    }
}
@media only screen and (min-width: 768px) {
    .center {
        padding: 0;
        width: 738px;
    }
}
.home_banner__content {
    overflow: hidden;
    z-index: 1;
    position: relative;
}
.home_banner__title {
    max-width: 550px;
    color: #f9f2e8;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 52px;
    text-shadow: 1px 1px 0 #1e5f42;
}
  .features nav .list {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      font-size: 16px;
      line-height: 19px;
      color: rgba(39, 54, 70, .7);
      height: 100%;
  }
  .features nav .container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
  }
  header {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  }
  header {
    height: 80px;
    background-color: #030a2a;
    padding: 20px 0;
    color: #fff;
    font-family: titillium web;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    position: relative;
    z-index: 1;
  }
  .divider {
      display: block;
      height: 1px;
      width: 180px;
      margin: 15px 0;
      border: 0;
      background-color: #e5e5e5;
  }
  .description {
      color: rgba(39, 54, 70, .7);
      margin-bottom: 70px;
  }
  .logo {
      margin-right: 35px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      height: 33px;
  }
  .base-information .left {
    margin-left: 20px;
  }
  header .left {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
  }
  header .container {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
  }
  header nav ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-right: 35px;
  }
  .base-information .container {
      height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 80px;
  }

  pre.php:nth-child(even) {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  pre.php:nth-child(odd) {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  pre.php {
    font-size: 12px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px 5px #eee;
  }
  * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      outline: 0;
      -webkit-tap-highlight-color: transparent;
  }
  .base-information .container .title {
    font-family: titillium web;
    font-weight: 700;
    font-style: normal;
    color: #113274;
    font-size: 45px;
    line-height: 54px;
    margin: 0 0 8px;
  }
  @media (min-width: 768px) {
      .container {
          width: 1020px;
          padding-left: 15px;
          padding-right: 15px;
      }
  }
  @media (min-width: 1024px) {
      .container {
          width: 924px;
      }
  }
  @media (min-width: 1280px) {
      .container {
          width: 1200px;
          padding-left: 10px;
          padding-right: 10px;
      }
  }
  .container {
      margin-right: auto;
      margin-left: auto;
      padding-left: 20px;
      padding-right: 20px;
  }
  body {
      min-width: 320px;
      font-family: titillium web;
      font-weight: 400;
      font-style: normal;
      color: #273646;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
  }
  * {
    line-height: 1.43 !important;
  }
  a { color: inherit; } 

  a:link {
    color: none;
  }