@charset "utf-8";
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

/* Effect */
.banner {
    width: 100%;
    height: 315px;
    background-color: #f6f6f6;
    background: url('/modules/base/layout/tpl/senkawa/sakumoyu.jpg');
    background-size: inherit;
    background-position: center;
	background-position-y: 735px;
	position:relative;
    background-repeat: repeat-y;
}
#description {
	position: absolute;
    top:  calc(50% - 23px);
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 19px;
    text-shadow: 2px 2px 5px black;
}
.view_bd {
    transform-origin: top right;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transition-duration: .3s;
    -webkit-transform-origin: top left;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
    -webkit-transition-duration: .3s;
}

/* Reset */

:after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
.clear:before, .clear:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
html, body {
	*zoom: 1;
	background-color: #fff;
	width: 100%;
}

select:focus {
    background: #f9f9f9;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), inset 0 0 7px rgba(100, 100, 100, 0.3);
    border-color: #00c0f3;
}
select {
    color: #9f9f9f;
    margin: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
a:hover i {
    -webkit-transform: rotate(365deg);
    -moz-transform: rotate(365deg);
    -o-transform: rotate(365deg);
    transform: rotate(365deg);
}
a:link, a:visited, a:hover {
    color: black;
    text-decoration: none;
}
a, li, span, b, p {
    /*'Spoqa Han Sans Neo', */
    font-family: Nanum Gothic, 나눔고딕, NanumGothic, NG, 'Segoe UI', "Yoon Gothic", "Apple Gothic", "HY Gulim", "MalgumGothic", "HY Dotum", "Lexi Gulim", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
}

/* Base Resource */
	
.nav {
	padding: 0;
	margin: 0;
}
.left_nav {
	float:right;
}
.search_icon {
    position: absolute;
    z-index: 9999;
    top: 12px;
    right: 11px;
    color: #848484;
    font-size: 12px;
}
.footer-content {
	position: relative;
	margin:0 auto;
	clear: both;
}
.footer-content > .sitemap {
    display:flex;
    margin-bottom: 15px;
}
.footer-content > .sitemap > .link {
    float: left;
    min-width: 92px
}
.footer-content > .sitemap > .link > a {
    color: #eee;
    font-weight: bold;
}
.footer-left {
    text-align: left;
    line-height: 15px;
    font-size: 11px;
}
.footer-right {
	float: right;
	width: 90%;
}
.footer-logo {
	margin-top: 5px;
	margin-right: 15px;
	margin-left: 15px;
	height:25px;
}
.footer-copyright {
	line-height: 15px;
	font-size: 12px;
	font-variant: all-petite-caps;
}
#footer-container {
    background-color: #3d3c3c;
    color: #c5c5c5;
    margin-top: 30px;
    border-top: 1px solid #e5e5e5;
    padding: 25px;
    display: block;
    display: -webkit-box;
    font-size: 12px;
}
#search-main {
    display: inline-block;
    width: 240px;
    height: 36px;
    line-height: 27px;
    padding: 11px 14px 9px 11px;
    border-radius: 8px;
    border: 1px solid #e0e0e0;
    color: #000;
    vertical-align: middle;
    transition: all .2s;
    outline: none;
    -webkit-appearance: none;
    background-color: transparent;
    color: #ffffff;
    -webkit-text-fill-color: #6f6f6f;
    font-size: 11px;
    top: 0px;
    font-family: 'Apple SD Gothic Neo',arial,sans-serif;
    background-color: #f9f9f9;
    font-weight: bold;
}

.tip a[href]:after {
    content: " (" attr(href) ")";
}
.opacity {
    opacity: 0.8;
    -webkit-transition: opacity 0.8s ease;
    -moz-transition: opacity 0.8s ease;
    -o-transition: opacity 0.8s ease;
}
.search_hover {
    position: relative;
    display: inline-block;
    margin-top: 8px;
    line-height: 2.0;
}
.clearfix:before, .clearfix:after {
    content: '.';
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix:after {
    clear: both;
}
.content_pad, .gnb_area, .logo_box, .menu_cont, .foofer_cont ,.footer-content {
    width: 1120px;
}
.ellipsis {
    overflow: hidden;
}
.btn_slim {
    font-size: 11px;
    background-color: #2592e0;
    color: #fff;
    padding: 6px 12px;
    margin: 13px 5px;
    line-height: 3.8;
    border-radius: 3px;
}
.top_imgbox {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 110px;
    position: relative
}
.slash_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(bg_slash.png)
}
.bg_txt {
    position: relative;
    margin: 0 auto;
    text-align: center;
    top: 40px;
    font-size: 25px;
    z-index: 9;
    font-weight: bold;
    color: #fff;
}
.text-muted {
    font-size: 11px;
}
.hide {
    display: none;
    width: 0;
    height: 0
}
.logo {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
    margin-left: 5px;
	border-radius: 5px;
}

/* Form */

.input-sm,
.login-btn {
    border: 1px solid #eaeaea;
}
.input-sm,
.form-horizontal .form-group-sm .form-control {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

/* GNB */
.gnb{
	float:left;
}
.dropdown-menu li:not(:first-child) {
    border-top: 1px dashed #c2c2c2;
}
.dropdown-menu {
    position: absolute;
    top: 105px;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    list-style: none;
    font-size: 15px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background-clip: padding-box;
	
    transition: all .9s linear;
    -moz-transition: all .9s linear;
    -webkit-transition: all .9s linear;
    -o-transition: all .9s linear;
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu li {
    width: 100%;
    height: 31px;
}
.dropdown-menu li:hover {
    background-color: #999
}
.dropdown-menu li:hover:last-child {
 border-radius: 0px 0px 5px 5px;
}
.dropdown-menu li:hover:first-child {
 border-radius: 0px 5px 0px 0px;
}
.dropdown-menu li a {
    width: 100%;
    font-size: 13px !important;
    padding: 0px 12px !important;
    line-height: 30px !important;
}

.mobile_gnb_area .dropdown a:first-child {
    border-left:1px solid #d9d9d9;
    border-right:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
    width: 100%;
    display: inline-block;
}

.dropdown-menu-mobile {
    z-index: 1000;
    width: 100%;
    line-height: 38px;
    list-style: none;
    font-size: 14px;
    background-clip: padding-box;
	
    transition: all .9s linear;
    -moz-transition: all .9s linear;
    -webkit-transition: all .9s linear;
    -o-transition: all .9s linear;
}
.dropdown-menu-mobile li {
    width: 100%;
}
.dropdown-menu-mobile li:hover {
    background-color: #999
}
.dropdown-menu-mobile li:hover:last-child {
 border-radius: 0px 0px 5px 5px;
}
.dropdown-menu-mobile li:hover:first-child {
 border-radius: 0px 5px 0px 0px;
}
.dropdown-menu-mobile li a {
    width: 100%;
    font-size: 15px !important;
    padding: 3px 13px !important;
    line-height: 31px !important;
    border-left: 5px solid #d9d9d9 !important;
}
.mobile_gnb_area li {
    width: 100%
}
#gnb > ul > li {
    height: 105px;
}
.gnb_area > a {
    height: 69px;
    margin: 18px 0px;
    float :left;
    align-content: center;
}
#gnb li, .mobile_gnb_area li {
    position: relative;
    list-style: none;
    display: inline-block;
}
#footer {
    margin-top: 20px;
    width: 100%;
    text-align: center;
    background-color: #f2f2f2;
    padding: 50px 0px;
    font-size: 13px;
    line-height: 23px;
}
.mobile_gnb_area li a {
    font-size: 15px;
    text-decoration: none;
    line-height: 23px;
    color: #585858;
    font-weight: 300;
    padding: 7px 14px;
}

#gnb li a {
    font-size: 17px;
    text-decoration: none;
    line-height: 110px;
    color: #000;
    font-weight: 400;
    padding: 38px 10px;
    z-index: 1;
    font-style: normal;
    font-variant-caps: normal;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-size-delta: initial;
    text-rendering: optimizeLegibility;
}
#gnb_cover {
    background: #ffffff;
	backface-visibility: visible;
	background-clip: content-box;
	clear:both;
	position:relative;
    z-index: 9999;
	border-bottom:1px solid #f5f5f5;
	border-bottom-color: rgb(229 229 229);
    /*box-shadow: rgba(0, 0, 0, 0.046875) 0px 5px 10px;
    box-shadow: 0 1px 0 rgba(121, 121, 121, 0.1), 0 1px 1px rgba(12, 13, 14, 0.1), 0 4px 20px rgba(12, 13, 14, 0.035), 0 1px 1px rgba(12, 13, 14, 0.025);
    -webkit-box-shadow: rgb(100 100 100 / 5%) 1px 3px 4px;*/
}
#gnb_cover:after {
    content: "";
    display: block;
    clear: both;
}
#gnb_cover2 {
    height: 31px;
    box-shadow: 0 1px 0 rgba(12, 13, 14, 0.1), 0 1px 3px rgba(12, 13, 14, 0.1), 0 4px 20px rgba(12, 13, 14, 0.035), 0 1px 1px rgba(12, 13, 14, 0.025);
    background: #ffffff;
}
#menu-underline {
    position: absolute !important;
    top: 50px;
    left: 0;
    width: 100px;
    height: 1px;
    background: #4f3fff;
}
.open a.first_a {
    cursor: pointer;
    border-bottom: 3px solid rgb(1, 87, 192);
}
.open .dropdown-menu {
    border-radius: 0px 0px 5px 5px;
    display: block !important;
    padding: 0;
    border: 1px solid transparent;
    border-top: 0;
    left: -1px;
    color: black
}
.gnb_area {
    margin: 0 auto;
    display: flow-root;
}
.logo_area {
    position: absolute;
    left: 0;
    top: 18
}
.logo_box {
    height: 80px;
    margin: 0 auto;
    position: relative;
}
.menu_list {
    height: 28px;
    background-color: rgb(248, 248, 248);
    position: relative;
    border-bottom: 1px solid rgb(223, 223, 223)
}
.topbar_bc {
    background-color: fff;
}
.nm_btn {
    font-size: 12px;
    list-style: none;
    margin: 0px 5px 0px 5px;
    padding: 3px;
    line-height: 30px
}

/* Widget */

.widget_title {
    font-size: 12px;
    font-weight: lighter;
    text-align: left;
    padding: 6px;
    border-bottom: 1px solid #ececec;
    background-color: #fff;
	text-transform: uppercase;
	text-rendering: geometricPrecision;
}
.ca-sub1 {
    padding: 5px 3px;
    margin: 0px 3px 0px 3px;
    font-size: 12px;
}
.welcome {
    font-size: 12px;
}
.user_menu {
    background-color: #696969;
    border-radius: 2px;
    margin: 0px;
    padding: 3px 8px;
    line-height: 1.5;
    font-size: 11px;
    float: right;
    color: #fff !important
}

/* Login */

.form_login {
    font-size: 11px;
    width: 100%;
    font-size: 12px;
    color: #555;
    background-color: #fff;
}
.login-box {
    font-size: 12px
}
.login_box {
    padding: 10px;
}
.login-misc {
    margin-top: 8px;
    letter-spacing: -1px;
    color: #888;
}
.login-cell {
    display: table-cell;
    padding: 0px;
    vertical-align: middle;
}
.login-cell input {
    height: 27px;
    font-size: 11px;
}
.login-cell input:nth-child(1) {
    border-bottom: 0 !important;
    border-radius: 1px 0px 0px 0px;
    background-color: #fdfdfd;
}
.login-cell input:nth-child(2) {
    border-radius: 0px 0px 0px 1px;
    background-color: #fdfdfd;
}
.login-btn {
    width: 70px;
    height: 100%;
    text-align: center;
    background: #f1f1f1;
    border-left: 0px;
    cursor: pointer;
    letter-spacing: -1px;
}
.login-btn:hover {
    background: #d8d7d7;
}
.user_ico {
    float: left;
    width: 25px;
    height: auto;
    margin-right: 5px
}
.widget_box, .login_box {
    margin-bottom: 8px;
    background-color: #fff;
    display: grid;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .12);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, .27);
    -moz-box-shadow: 0px 0px 1px rgba(0, 0, 0, .27);
    -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, .27);
	border: 1px solid #ececec;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
}

/* Content */

.remember_me{
	margin: 0px 3px 0px 0px;
}
.content_pad {
    margin: 0 auto;
    clear: both;
	padding-top: 0px;
	-webkit-mask-clip: border-box;
	box-sizing: content-box;
}
.list2_box {
    width: 20rem;
    float: right;
	margin-top:10px;
}
.list_content {
    height: 100%;
}
.flower_content {
    padding: 10px;
    /*margin: 0 20.5rem 0 0;*/
    background-color: #fff;
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .12);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	border: 1px solid #efefef;*/
}
.menu_cont {
    height: 28px;
    margin: 0 auto;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
}
.foofer {
    border-top: 1px solid #bfbfbf;
    background-color: #d86262;
    padding: 15px;
    position: relative
}
.foofer_cont {
    margin: 0 auto
}
.foofer_cont a {
    position: absolute;
    top: 35px;
    margin: 0px 15px;
    font-size: 11px
}
.flower_content:after {
    clear: both;
}
.flower_content:after, .flower_content:before {
    display: table;
    content: " ";
}
.mobile_gnb_area {
    position: fixed;
    top: 0;
    height: 100%;
    background-color: #FFF;
    overflow: auto;
    z-index:9999;
}
#mobile_gnb {
    float: right;
    padding: 5px;
    margin-right: 8px;
    font-size: 25px;
}
#nav-member {
    display:flex;
}
#nav-member a {
    flex: 1;
    text-align: center;
    padding: 26px 38px;
    color: black !important;
}
#nav-member a {

}
#nav-member a:first-child {
    border-right:1px solid #d9d9d9;
    border-bottom:1px solid #d9d9d9;
}
#nav-member a:last-child {
    border-bottom:1px solid #d9d9d9;
    border-right:1px solid #d9d9d9;
}
/* Media Screen */
.dummy {
    background-color: #444;
    z-index: 100;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0.7;
}
@media screen and (max-width: 1200px) {
    tbody tr td:not(.title),
    .bg_f_f9 th:not(.title) {
        display: none;
    }
    
    #mobile_gnb {
        display: block !important;
    }
    #gnb,
    .lst_btn,
    .gnb,
    .list2_box,
    .pad,
    .search_hover {
        display: none !important
    }
    .list_box {
        width: 100% !important
    }
    .flower_content {
        margin: 0 !important
    }
    .btm_mn .btn_img i {
        display: none !important
    }
    .itx_wrp #keyword {
        width: 50px !important
    }
    .content_pad,     .gnb_area,     .logo_box,     .menu_cont,     .foofer_cont {
        width: 100% !important
    }
}
.content_wrap {
    width: 1120px;
    display: block;
    margin: 0px auto;
}
.nav-visible {
    visibility: visible !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    -webkit-transition: -webkit-transform ease 0s !important;
    transition: transform ease 0ms !important;
}
.nav-fixed {
    position: fixed !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    -webkit-transition: -webkit-transform ease 0s !important;
    transition: transform ease 0ms !important;
    top: 0px;
    width: 100%;
}
body {
    padding: 0px;
    margin: 0px;
}
#introduce_head {
    width: 1120px;
    display: block;
    margin: 0px auto;
    padding: 100px;
    text-align:center;
    /*font-family: 'Jeju Myeongjo';*/
    font-size:17px;line-height:21px;margin-top:50px

}
#introduce_content {
    width: 1120px;
    display: block;
    margin: 0px auto;
}
.build, .build2 {
    align-items: stretch;
    list-style: none;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.build div, 
.build2 div {
    flex: 1;
    display: inline-block;
    align-self: flex-end;
    position: relative;
    width: 50%;
    height: 100px;
    padding-top: 370px;
    color: black;
    background-size: 100% 350px;
    background-repeat: no-repeat;
}
.build div:not(:first-child),
.build2 div:not(:first-child) {
    margin-left: 50px;
}
.build div:nth-child(1) {
    background-image:url('/App/View/img/sub_2-1-1.jpg');
}
.build div:nth-child(2) {
    background-image:url('/App/View/img/sub_2-3-1.jpg');
}
.build div:nth-child(3) {
    background-image:url('/App/View/img/sub_2-2-1.jpg');
}
.build2 div:nth-child(1) {
    background-image:url('/App/View/img/excersize.jpg');
}
.build2 div:nth-child(2) {
    background-image:url('/App/View/img/01.jpg');
}
#section {
    display: flex;
}
#section > div {
    flex: 1;
    background-color: #6a8d2b;
    color: #fff;
    height: 260px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    align-content: center;
}
#section > div i {
    margin-bottom: 10px
}
#section > div:not(:last-child) {
    margin-right: 10px;
}
#shortcut {
    height: 40px;
    background-color: #f0f0f0;
}
#shortcut div {
    width: 1120px;
    display: block;
    margin: 0px auto;
    line-height:37px;
    font-size:13px
}
.the_slider{
    display: block;
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 250px;
}

.the_slider .s_slide{
    display: block;
    width: 100%;
    height: 100%;
    float: left;
    background-repeat: no-repeat;
}

.the_slider .s_slider_container{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #f5f4ee;
}
#main_contain #description {
    position:absolute;
}
.s_slider_container > div {
    background-size:     cover; 
    background-repeat:   no-repeat;
    background-position: center center;
}

.the_slider .s_slider_container:active{
    cursor: -webkit-grabbing
}
.main {
    top: 0;
    width: 100%;
    left: 0;
    height: 430px;
    position: absolute;
    background-size: 100%;
    filter: brightness(0.8) blur(0.2px);
    background-position: center;
    background-image: url(/App/View/img/sub01.jpg);
}
#main_contain {
    height: 430px;
    position: relative;
    background-color: #181818;
    background: linear-gradient(126deg, #2F40AD 29.424476623535156%, #394FB7 40.656089782714844%, #2A3BA9 54.323577880859375%, #394FB7 66.76197052001953%, #354AB5 100%)
}
#description_text {
    height: 100%;
    text-align: center;
    align-items: center;
    vertical-align: middle;
    display: grid;
    flex: 1;
    width: 100%;
    z-index: 1;
    position: absolute;
    color: #fff;
}
#introduce {

}




.staff {
    align-items: stretch;
    list-style: none;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.staff div {
    flex: 1;
    display: inline-block;
    align-self: flex-start;
    position: relative;
    width: 50%;
    padding-top: 450px;
    color: black;
    background-size: 100% 450px;
    background-repeat: no-repeat;
}
.staff div:not(:first-child) {
    margin-left: 20px;
}
.staff div:nth-child(1) {
    background-image:url('/App/View/img/dr_park.jpg');
}
.staff div:nth-child(2) {
    background-image:url('/App/View/img/about-01.jpg');
}
.staff div:nth-child(3) {
    background-image:url('/App/View/img/dr_seo.jpg');
}
.staff div a {
font-family: 'Jeju Myeongjo';
line-height: 27px;
}
.staff div b {
    color: white;
    background-color: #00113e;
    padding: 20px;
    opacity: 0.78;
    border-radius: 3px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.introduce_say {
    display: block;
    background-color: #fffaf1;
    padding: 10px;
    text-align: center;
    border-top: 5px solid #8ea9e0;
}
#section_title {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 29px;
    width: 100%;
    border-bottom: 1px dashed #b2aeae;
    padding-bottom: 26px;
}

.table_01 {width:100%; padding:10px; }
.table_01 p{display:none;}
.table_01 .table0001 .caption {font-size:100px;}
.table0001{border-spacing:0;}
.table0001{border:1px solid #ddd; }
.table0001 thead th {border:1px solid #ddd; background-color:#f8f4f0;  padding:10px; font-size:15px;} 
.table0001 td {border-bottom:1px solid #ddd; border-left:1px solid #ddd; border-right:1px solid #ddd; text-align:center; padding:10px; font-size:13px;}

@media only screen and (max-width:768px) {
.table_01 p{display:inline-block; margin:10px;}
.table_01 .table0001 .caption {font-size:100px;}
.table0001{border-spacing:0;}
.table0001{border:1px solid #ddd; }
.table0001 thead th {border:1px solid #ddd; background-color:#f8f4f0;  padding:10px; font-size:15px;} 
.table0001 td {border-bottom:1px solid #ddd; border-left:1px solid #ddd; border-right:1px solid #ddd; text-align:center; padding:10px; font-size:13px;}

}

@media screen and (max-width:640px){
.table_01 .table0001  {width:100%; padding:10px;}
}

@media screen and (max-width:460px){
.table_01 .table0001  {width:100%; padding:10px;}}

@media screen and (max-width:455x){

.table_01 .table0001  {width:100%; padding:0;}}

@media screen and (max-width:400px){
.table_01 .table0001  {width:100%; padding:0;}}
* {
    
  font-family: "Noto Sans JP", sans-serif;
}